<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="yy.eat.mapper.OrderMapper">
    <resultMap id="baseResultMap" type="yy.eat.dto.Order">
        <id column="ORDER_ID" property="orderId"></id>
        <result column="SERIAL_NUMBER" property="serialNum"></result>
        <result column="USER_ID" property="userId"></result>
        <result column="ADDRESS_ID" property="addressId"></result>
        <result column="TOTAL_PRICE" property="totalPrice"></result>
        <result column="CUSTOMER_REMARK" property="customerRemark"></result>
        <result column="STATUS" property="status"></result>
        <result column="CREATION_DATE" property="creationDate"></result>
        <collection property="details" ofType="yy.eat.dto.OrderDetail">
            <id column="ORDER_DETAIL_ID" property="orderDetailid"></id>
            <result column="ORDER_ID" property="orderId"></result>
            <result column="FOOD_ID" property="foodId"></result>
            <result column="COUNT" property="count"></result>
            <association property="foods" javaType="Foods">
                <id column="FOOD_ID" property="foodId"></id>
                <result column="FOOD_NAME" property="foodName"></result>
                <result column="FOOD_IMAGE" property="foodImage"></result>
                <result column="DISCOUNT_PRICE" property="discountPrice"></result>
            </association>
        </collection>
    </resultMap>

    <select id="getOrderByUserId" parameterType="yy.eat.dto.Order" resultMap="baseResultMap">
        SELECT
            *
        FROM
            res_order o,
            res_order_detail od,
            res_food f
        WHERE
            o.ORDER_ID = od.ORDER_ID
        AND f.FOOD_ID = od.FOOD_ID
        AND o.USER_ID=#{userId}
    </select>

    <insert id="insertOrder" parameterType="yy.eat.dto.Order" useGeneratedKeys="true" keyProperty="orderId">
        INSERT INTO res_order (
            SERIAL_NUMBER,
            USER_ID,
            ADDRESS_ID,
            TOTAL_PRICE,
            CUSTOMER_REMARK,
            `STATUS`
        )
        VALUES
            (
               #{serialNum},#{userId},#{addressId},#{totalPrice},#{customerRemark},#{status})
    </insert>
</mapper>