<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="yy.eat.mapper.UserMapper">
    <select id="findUserByPhone" parameterType="string" resultType="yy.eat.dto.User">
    SELECT * FROM res_user WHERE user_phone=#{phone}
    </select>
</mapper>